/* ==========================================================================
   Utility Classes - Kayu Dolken Gelam
   ========================================================================== */

/* Image Heights */
.img-height-180 {
  height: $card-image-height-sm;
}

.img-height-200 {
  height: $card-image-height;
}

.img-height-250 {
  height: $card-image-height-md;
}

/* Object Fit */
.object-fit-cover {
  object-fit: cover;
}

/* Icon Sizes */
.icon-sm {
  font-size: $icon-size-sm;
}

.icon-md {
  font-size: $icon-size-md;
}

.icon-lg {
  font-size: $icon-size-lg;
}

/* Font Sizes */
.text-xs {
  font-size: $font-size-xs;
}

.text-sm {
  font-size: $font-size-sm;
}

/* Display Flex Utilities */
.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-flex-align-center {
  display: flex;
  align-items: center;
}

/* Gradients */
.bg-gradient-wood {
  background: linear-gradient(135deg, $wood-brown 0%, $wood-light 100%);
}

.bg-wood-gradient {
  background: linear-gradient(135deg, $wood-brown 0%, #A0522D 50%, #CD853F 100%);
}

/* Width & Height Utilities */
.w-50 {
  width: 50px;
}

.w-70 {
  width: 70px;
}

.h-50 {
  height: 50px;
}

.h-70 {
  height: 70px;
}

/* Font Size REM Utilities */
.fs-1-25rem {
  font-size: 1.25rem;
}

.fs-1-5rem {
  font-size: 1.5rem;
}

.fs-2-5rem {
  font-size: 2.5rem;
}

.fs-3rem {
  font-size: 3rem;
}

.fs-4rem {
  font-size: 4rem;
}

.fs-5rem {
  font-size: 5rem;
}

.fs-10rem {
  font-size: 10rem;
}

/* Opacity Utilities */
.opacity-80 {
  opacity: 0.8;
}

.opacity-85 {
  opacity: 0.85;
}

.opacity-90 {
  opacity: 0.9;
}

.opacity-95 {
  opacity: 0.95;
}
