/* ==========================================================================
   Product List Component
   ========================================================================== */

.product-list {
  // Styles will be extracted here
}
