/* ==========================================================================
   Related Articles Component
   ========================================================================== */

.related-articles {
  // Styles will be extracted here
}
